	
.boxRedDotted {
	background-color: #fff3f3;
	border: 1px dotted #f00000;
	margin: 15px 60px;
	padding: 8px;
	vertical-align: middle;
}
	
.boxYellowSolid {
	background-color: #ffffcc;
	border: 1px solid yellow;
	margin: 15px 60px;
	padding: 8px;
	vertical-align: middle;
}	
