body {
  font-family:arial,sans-serif;
}

#results-progress {
  position:relative; 
  top: -20px;
}

#search-tools {
  width: 100%;
}

#advanced-search-filter-table {
  width: 90%;
}

#score-boosting-filter-table {
  width: 90%;
}

#phrase-boosting-table {
  width: 90%;
}

#score-search-restrictions-table {
  width: 100%;
}

#search-tools-td-1 {
  width: 100%;
}

#search-input {
  height: 22px;
  font-size: 22px;
  width:96%;
  background: #fff;
/*  border: 1px solid #DD4B39; */
}

#search-button-top {
  color: #fff;
  background: #4A8BF4;
}

#clear-button-top {
  color: #fff;
  background: #4A8BF4;
}

#search-button-adv-section {
  color: #fff;
  background: #4A8BF4;
  float: right;
}

#clear-button-adv-section {
  color: #fff;
  background: #4A8BF4;
  float: left;
}

#advanced-search-section-bottom-buttons{
  width: 100%;
}

#phrase-boosting-section-bottom-buttons {
  width: 100%;
}

#other-options-section-bottom-buttons {
  width: 100%;
}

#search-button-restriction-section {
  color: #fff;
  background: #4A8BF4;
  float: right;
}

#clear-button-restriction-section {
  color: #fff;
  background: #4A8BF4;
  float: left;
}

#search-restrictions-bottom-buttons{
  width: 100%;
}


#search-button-score-section {
  color: #fff;
  background: #4A8BF4;
  float: right;
}

#clear-button-score-section {
  color: #fff;
  background: #4A8BF4;
  float: left;
}

#search-button-other-options-section {
  color: #fff;
  background: #4A8BF4;
  float: right;
}

#clear-button-other-options-section {
  color: #fff;
  background: #4A8BF4;
  float: left;
}

#search-button-phrase-section {
  color: #fff;
  background: #4A8BF4;
  float: right;
}

#clear-button-phrase-section {
  color: #fff;
  background: #4A8BF4;
  float: left;
}

#select-query-code-section{
  color: #fff;
  background: #4A8BF4;
  float: left;
}


#score-boosting-section-bottom-buttons{
  width: 100%;
}



#search-button-query-code-section {
  color: #fff;
  background: #4A8BF4;
  float: right;
}

#clear-button-query-code-section {
  color: #fff;
  background: #4A8BF4;
  float: left;
}

#search-query-code-bottom-buttons{
  width: 100%;
}


#help-results-button {
  float: right;
  top: 10px;
}

#help-advanced-search-button {
  float: right;
  right: -38px;
  top: -15px;
}

#help-search-profile-button {
  float: right;
  right: -38px;
  top: -15px;
}

#help-search-restrictions-button {
  float: right;
  right: -38px;
  top: -15px;
}

#help-other-options-button {
  float: right;
  right: -38px;
  top: -15px;
}

#help-phrase-boosting-button {
  float: right;
  right: -38px;
  top: -15px;
}

#help-score-boosting-button {
  float: right;
  right: -38px;
  top: -15px;
}

#help-search-button {
}

#help-search-query-code-button {
  float: right;
  right: -38px;
  top: -15px;
}

#help-search-settings-button {
  float: right;
  right: -38px;
  top: -15px;
}

#phpCode {
  padding: 10px;
  margin-top: 30px;
}

/* multiselect */
.multiselect {
  width: 90%;
  height: 300px;
}
  
/* comboboxes */
               
.ui-combobox {
  position: relative;
  display: inline-block;
  height: 40px;
}

.ui-combobox-toggle {
  position: absolute !important;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  padding: 0;
  /* adjust styles for IE 6/7 */
  height: 2.2em;
  top: 0em;
}

.ui-combobox-input {
  margin: 0;
  padding: 0.3em;
  height: 28px;
}

.adv-filter-value {
  width: 80%;
  height: 24px;
}

/* Buttons */
.qb-button {
  width: 26px;
  height: 26px
}

/* Advanced search section */

.advanced-search-col-1 {
  width: 125px;
  height: 45px;
}

.advanced-search-col-2 {
  width: 235px;  
  height: 45px;
}

.advanced-search-col-3 {
  width: 300px;
  height: 45px;
}

.advanced-search-col-4 {
  width: 45px;
  height: 45px;
}

.advanced-search-col-5 {
  width: 45px;
  height: 45px;
}

.adv-filter-property {
  width: 200px;
}

/* Score boosting search section */

#score-boosting-table {
  width: 90%;
}

.score-boosting-col-1 {
  width: 235px;  
  height: 45px;
}

.score-boosting-col-2 {
  width: 300px;
  height: 45px;
}

.score-boosting-col-3 {
  width: 45px;
  height: 45px;
}

.score-boosting-col-4 {
  width: 45px;
  height: 45px;
}

.score-boosting-col-5 {
  float: right;
}

.score-boosting-property {
  width: 200px;
}

.score-booster {
  width: 40px;
}

/* Search restriction search section */

#search-restrictions-table {
  width: 90%;
}

.search-restriction-col-1 {
  width: 235px;  
  height: 45px;
}

.search-restriction-col-2 {
  width: 0px;
  height: 45px;
}

.search-restriction-col-3 {
  width: 45px;
  height: 45px;
}

.search-restriction-col-4 {
  width: 45px;
  height: 45px;
}

.search-restriction-col-5 {
  float: right;
}

.search-restriction-property {
  width: 200px;
}

/* button menu */
.ui-menu { 
  position: absolute; 
  width: 100px;
  z-index: 100;
}

.ui-widget-content { 
  font-size: 1.0em;
}

/* autocomplete */
.ui-autocomplete-loading {
  background: white url('ui-lightness/images/ui-anim_basic_16x16.gif') 98% center no-repeat;
}

.ui-input-field-text {
  background: white url('ui-lightness/images/text_smallcaps.png') 98% center no-repeat;
}

.ui-input-field-date {
  background: white url('ui-lightness/images/calendar.png') 98% center no-repeat;
}

.ui-input-field-uri {
  background: white url('ui-lightness/images/anchor.png') 98% center no-repeat;
}

.ui-state-default-property-value {
  border: 1px solid #CCCCCC;
  color: #1C94C4;
  font-weight: bold;
}

.controlHighlight {
  border:3px solid red !important;
}

/* Results */

.result-score {
  float: right;
  background: none repeat scroll 0 0 #FFF;
  border: 1px solid #DD4B39;
  float: right;
  padding: 7px;
  position: relative;
}

.result{
  font-size: 0.815em; 
  border: 1px solid #D9D9D9; 
  background: #F1F1F1; 
  color: #333;
  padding: 6px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.no-result{
  font-size: 0.815em; 
  border: 1px solid #FACC2E; 
  background: #F5F6CE; 
  color: #333;
  padding: 40px;
  margin-top: 20px;
  margin-bottom: 6px;
}

.result-title{
  color: #505050;
}

.result-property-label {
  font-weight: bold;
}

.properties-list {
}

/* Progress */
#datasets-progress .ui-progressbar-value {
  background-color: #ccc;
}

#paginator-canvas {
  margin-top: 20px;
  height: 30px;
}

#paginator {
  float: right;
  padding-top: 6px;
}

#paginator a {
  text-decoration: none;
}

#results-indicator {
  float: left;
  font-weight: bold;
  padding-top: 10px;
}

#inference-icon {
  cursor: pointer;
  padding: 10px;
}

.nb-record-per-page {
  float: right;
  left: -50px;
  top: 6px;
  position: relative;  
}

.search-profile-name {
  width: 300px;
  height: 20px;
  border: 1px solid #CCCCCC;
  color: #1C94C4;
  font-weight: bold;  
  margin-left: 20px;
}