th.ctools-export-ui-storage,
td.ctools-export-ui-storage {
  width: 60px;
  text-align: right;
}

th.ctools-export-ui-operations,
td.ctools-export-ui-operations {
  width: 60px;
}

th.select-all {
  width: 20px;
}

.form-item-scbu-mn,
.form-item-uri-path,
.separator {
  float: left;
}

.separator {
  display: block;
  height: 60px;
  padding: 30px 15px 0 15px;
}

#edit-remote-updates {
  background: yellow;
}